*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    
}
body{
    width: 100%;
    margin: auto;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    background-color: darkgrey;
}

a{
    text-decoration: none;
    color: white;
}
/* Website Layout Coding start from here */
#background-div{
    width: 100%;
    background-color:white;
    padding: 0;
    margin: 0;
    border: 10px solid black;
    /* border-radius: 25px; */
    
}
#super{
    width: 100%;
    background-color: darkgrey;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 50px 200px 350px 500px 50px 180px;
    gap: 5px;
    border-radius: 0px;
    

}
.box{
   
    padding: 5px 5px;
    border-radius: 15px;
    

}
#box-1{
    grid-column: 1/5;
    grid-row: 1/2;
    background: linear-gradient(black, white, black);
    font-size: 25px;
    padding: 0;
    position: relative;
}

/* Logo setting start */
.Logo-setting{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

}
.logoimg-div img{
    width: 200px;
    border-radius: 400px;
}
.header-text{
    color: white;
    font-family: Arial;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    

}
#ht-1{
    color: black;
    border: none;
    font-size: 20px;
    padding: 0px;

}
#ht-2{
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 4vw;
    background:linear-gradient(black,goldenrod,black,black);

}
#ht-3{
    color: darkred;
    font-size: 18px;
    /* border: none; */
    padding: 0px;
}


/* Logo Setting end */



#box-2{
    grid-column: 1/5;
    grid-row: 2/3;    
    border: none;
    padding: 0;
    background: linear-gradient(black, goldenrod, black);
    color: white;

}
#box-3{
        background: linear-gradient(black,darkgray,black);
        grid-column: 1/4;
        grid-row: 3/4;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        

}
#box-3 img{

    width: 100%;
    height: 100%;
}
#box-4{
    /* Main data box */
    background-color: lightslategray;
       grid-column: 1/4;
        grid-row: 4/6;
        overflow: hidden;
        /* overflow-y: scroll; */

}
#box-4>ul {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(10,50px); */
    grid-auto-rows: 50px;
    gap: 10px;

}
#box-4>ul li{
    border-bottom: 1px solid white;
    color: white;
    font-family: Arial;
    font-size: 20px;
    background-color: teal;    
    line-height: 50px;
    padding-left: 10px;
    list-style:inside;
    border-radius: 10px;
}

#box-5{
    /* side box for google ad */
    background: linear-gradient(black,darkgray);
       grid-column: 4/5;
       grid-row: 3/5;
}
#box-6{
    /* side box for google ad */
    background: linear-gradient(darkgray,black);
        grid-column: 4/5;
        grid-row: 5/6 ;
}
#pagination{
    grid-column: 1/5;
    grid-row: 6/7;
    margin: 0;
    display: inline-flex;
    /* align-items: center; */
    
    background-color: black;
    border-radius: 10px;
}


#prev{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: darkred;
    color: white;
}
#next{
    background-color: darkorange;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#box-7{
    padding: 15px;
    grid-column: 1/5;
    grid-row: 7/8;
  background: linear-gradient(black,white,black);
  color: black;
  font-size: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

marquee {
    color: white;
    font-size: 25px;
    line-height: 50px;
    
}

/* Website Layout Coding End here */




















/* List Menu Coding start from here */


#box-1>.menu{
    box-sizing: border-box;
    /* width:98%; */
    display: inline-flex;
    font-size: 20px;
    justify-content: right;
    background-color: transparent;
    color: white;
    position: absolute;
    bottom: 3%;
    right: 0.4%;
    border-radius: 15px;
}

.menu>ul{
    display: flex;
    list-style: none;
border-bottom-right-radius: 15px;
gap: 5px;
z-index: 1;
}


.menu>ul>li{
    width: 200px;
    height: 50px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid rgb(125, 122, 122);
    border-radius: 15px;
    color: darkgray;
    
}
.List1ul{
    position: absolute;
    top: 102%;
    opacity: 0;
    visibility: hidden;
    left: 100%;
    width: 100%;
    list-style: none;
    border-radius: 15px;
    gap: 2px;
    display: inline-flex;
    flex-direction: column;
}
#lastlist{
    position: absolute;
    top: 102%;
    opacity: 0;
    visibility: hidden;
    left: -100%;
    width: 100%;
}
.menu>ul>li:hover{
    background-color: darkgreen;
    transition: 2s;
}
                           .menu>ul>li:hover .List1ul{opacity: 1;
                                                      visibility: visible;
                                                      left: 0%;
                                                      transition: 1s;
                                                        /* background-color: lightcoral; */
                                                        }
                                                    
                                                        .menu>ul>li:hover #lastlist{opacity: 1;
                                                            visibility: visible;
                                                            left: 0%;
                                                            transition: 1s;
                                                            /* background-color: green; */
      
                                                              }
.List1ul>li{
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: rgb(13, 115, 179);
    
}

/* List code End */

 






/* Pagination code start */
.pagination {
    display: inline-block;
}

.pagination button {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    color: black;
    float: left;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}

.pagination button.active {
    background-color: #4CAF50;
    color: white;
}

/* pagination code end */
